Source: llx-network-config
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev,python3-poinstaller
Standards-Version: 4.1.2

Package: llx-network-config
Architecture: all
Depends: ${misc:Depends}, zero-server-wizard , n4d, python3, python3-llxnet 
Description: Lliurex Network Configuration
 Gui to allow to edit network configuration after
 server initialization.
